:root {
    --secondary: #FFFFFF;   
    --light: #BEE9F4;      
    --dark: #D0F3F3;    
    --highlight: #007bff;   
    --text-dark: #212529;   
}

/*** Layout ***/
body {
    color: var(--text-dark);
    background-color: var(--dark);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 10px 20px;
    color: var(--primary);
    font-weight: 600;
    border-left: 4px solid transparent;
    border-radius: 0 30px 30px 0;
    transition: all 0.3s ease;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--highlight);
    background: #eef6fb;
    border-left-color: var(--highlight);
    font-weight: 700;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    border-radius: 50%;
    color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--highlight);
    color: #fff;
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary);
}

.content .navbar .navbar-nav .nav-link:hover i {
    background: var(--highlight);
    color: #fff;
}



@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}
